*{
    margin: 0;
    padding: 0;
}
.header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    align-items: center;
    position:fixed;
    top: 0;
    transition-timing-function: ease-in;
    transition: all 0.5s;
    z-index: 1;
    background-color: transparent;
    
    
}
.header_color{
    position:fixed;
    background-color: black;
    
}
.netflixLogo img{
    width: 5rem;
    height: auto;
    cursor: pointer;
}
.avatar img{
    width:2rem;
    height: auto;
    margin-right: 3rem;
    
}