.register-steps{
    background-color: white;
}
.register-steps .loginheader{
    background-color: white;
    display: flex;
    align-items: center;
    align-content: center;
    padding-bottom: 12px;
    width: 100%;
    border-bottom: 1px solid rgba(128, 128, 128, 0.521);
}
.signout{
    background: none;
    color: rgb(44, 44, 44);
    font-size: 1rem;
    font-weight: 800;
    margin-right: 1rem;
}
.step-by-step{
    width: fit-content;
    margin: 0 auto;
    margin-top: 5rem;
    display: flex;
    font-size: 0.9rem;
    flex-direction: column;
    
}
.cnt-bold{
    font-weight: 900;
}