.step2{
    margin-top: -5rem;
    height: 100%;
    animation: motion ease-in 0.8s ;
    transition: all 0.8s;
}


@keyframes motion {
    0%{opacity: 80%;
    transform: translateX(70px);}
    100%{opacity: 100%;
        transform: translateX(0px);}
}

.under-step2{
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    line-height: 2.5rem;
}

.under-step2 h2{
    font-weight: 600;
    font-size: 2rem;
    width: 27rem;
}

.under-step2 input{
    height: 3.5rem;
    padding-left: 1rem;
}

.under-step2 label{
    margin-left: 0.8rem;
}

.under-step2 .form-label1:focus-within label, .under-step2 .form-label2:focus-within label {
    transform: translate(-15px, -6px) scale(0.75);
  }

  .under-step2 .form-label1 .Active1, .under-step2 .form-label2 .Active2{
    transform: translate(-10px, -6px) scale(0.75);
  }

  .under-step2 .form-label1{
      margin-bottom: 2rem;
      margin-top: 0.5rem;
  }

.under-step2 .no-email{
    display: flex;
    gap: 1rem;
    align-items: center;
    font-weight: 200;
}

.no-email input[type='checkbox']{
    accent-color: blue;
    border-radius: none;
    
}

div .make-red{
    border: 1px solid red;
}