.loginheader{
    display: flex;
    justify-content: space-between;
    margin-left: 1rem;
    margin-right: 1rem;
    padding-top: 2rem;
    align-items: center;
    z-index: 10;
 
}

.loginheader img{
    height: auto;
    width: 10rem;
    filter:saturate(10);
   
}

.login{
    position: relative;
}

button{
    color: white;
    background-color: red;
    padding: 5px 15px;
    border: none;
    font-size: 1rem;
    height: 3rem;
    border-radius: 5px;
    z-index: 1;
    margin-right: 1rem;
    cursor: pointer;

}
.set-fade1{
    position: absolute;
    height: 20rem;
    background: linear-gradient(
        to top,
        transparent,
        rgba(0, 0, 0, 0.514),
        rgb(0, 0, 0)
    );
    width: 100%;
    top: 0;
   
}

.set-fade2{
    position: absolute;
    height: 19rem;
    background: linear-gradient(
        to bottom,
        transparent,
        rgba(0, 0, 0, 0.514),
        rgb(0, 0, 0)
    );
    width: 100%;
   bottom: 0;
 
   
}
.loginContainer{
    background: url("https://assets.nflxext.com/ffe/siteui/vlv3/6e32b96a-d4be-4e44-a19b-1bd2d2279b51/647d1b1c-5dee-47c5-aa7d-35909dd70eca/NG-en-20220516-popsignuptwoweeks-perspective_alpha_website_medium.jpg") content-box no-repeat;
    height: 100vh;
}

.banner{
    color: white;
    filter: saturate(10);
    margin: auto auto;
    width: fit-content;
    padding: 15px;
    height: auto;
    text-align: center;
    margin-top: 5%;
    animation: motion ease-in 0.8s ;
    transition: all 0.8s;
}

@keyframes motion {
    0%{opacity: 20%;
    transform: translateX(-70px);}
    100%{opacity: 100%;
        transform: translateX(0px);}
}
h1{
    z-index: 1;
    font-size: 3rem;
    text-align: center;
    width: 40rem;
    margin: 0 auto;
}
h2{
    font-weight: 100;
}
h5{
    font-weight: 500;
}
.form-sect{
    margin-top: 2.5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.signUpForm{
    display: flex;
    align-items: center;
    margin: 0 auto;
}
.signUpForm input{
    height: 3rem;
    width: 40vw;
    outline: none;
    padding: 10px;
    box-sizing: border-box;
    color: grey;
    z-index: 10;
    

}
button.getstarted{
    height: 3rem;
    cursor: pointer;
    border-radius: 0;
    font-weight: 400;
}
.footer{
    color: rgb(82, 81, 81);
    display: flex;
    flex-direction: column;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    position: absolute;
    bottom: 0;
    padding-left: 5rem;
    padding-top: 1rem;
    box-sizing: border-box;
    gap: 15px;
    z-index: 5;
    cursor: pointer;
}


ul li{
    list-style: none;
    cursor: pointer;
}
.gird-foot{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 1rem;
    cursor: pointer;
}
li:hover{
    cursor: pointer;
    text-decoration: underline;
}
.error-font{
    color:red;
    width: fit-content;
    display: none;
    background-color: rgba(0, 0, 0, 0.342);
    padding: 15px;
  
}

@media only screen and (max-width: 600px){
    .banner{
        transform: scale(0.7);
        margin: 0 auto;
        margin-left: -90px;
        padding: 0;
        animation: none;
    }
    /* .signUpForm input{
        margin: 0 auto;
        width: 100%;
    } */
    .footer{
        padding:3px;
        font-size: 0.5rem;
        margin-top: 1rem;
    }

}

